<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Moose</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="/style.css" rel="stylesheet">
        <script src="/main.js"></script>
    </head>

    <body>
        <center>
			<p id="status">You can always use more JPEG.</p>
			<p>
				<label>
					Auto click:
					<input id="autoclick" type="checkbox"/>
				</label>
			</p>
		</center>
        <div id="drop-zone">
            <span id="instructions">
                Drop an image on me!
            </span>
        </div>
    </body>
</html>